<%= form_for @profile, url: profile_path, html: { multipart: true }, local: true do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='control'>
  <p class='label'>Profile pic</p>
  <p>
    <%= form.file_field :avatar %>
  </p>
  </div><br>

  <div class="field">
    <div class='control'>
      <%= form.label :fname, 'First name', class: 'label'%>
      <%= form.text_field :fname, class: 'input' %>
    </div class='control'>
  </div>

  <div class="field">
    <div class='control'>
      <%= form.label :lname, 'Last name', class: 'label' %>
      <%= form.text_field :lname, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class='control'>
      <%= form.label :occupation, class: 'label' %>
      <%= form.text_field :occupation, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class='control'>
      <%= form.label :bio, class: 'label' %>
      <%= form.text_area :bio, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="actions">
    <div class='control'>
      <%= form.submit 'Submit', class: 'button is-info'  %>
    </div>
  </div>
<% end %>
