<p id="notice"><%= notice %></p>
<p>
  <% if current_user.profile.avatar.exists? %>
    <%= image_tag current_user.profile.avatar.url(:medium) %>
  <% end %>
</p>
<p>
  <strong>Fname:</strong>
  <%= current_user.profile.fname%>

<p>
  <strong>Lname:</strong>
  <%= current_user.profile.lname %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= current_user.profile.occupation %>
</p>

<p>
  <strong>Bio:</strong>
  <%= current_user.profile.bio %>
</p>