<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= current_user.profile.fname%>

<p>
  <strong>Lname:</strong>
  <%= current_user.profile.lname %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= current_user.profile.occupation %>
</p>

<p>
  <strong>Bio:</strong>
  <%= current_user.profile.bio %>
</p>