<h1>Friend Requests</h1>
<% if @friend_requests.any? %>
  <% @friend_requests.each do |request| %>
    <%= request.from_user.email %>
    <%= request.from_user.id %>
    <%= form_for Friend.new do %>
      <%= hidden_field_tag :friend_a_id, current_user.id %>
      <%= hidden_field_tag :friend_b_id, request.from_user.id %>
      <%= hidden_field_tag :friend_requests_id, request.id %>
      <%= submit_tag 'Add friend' %>
    <% end %>
    <button><%= link_to 'Deny request', request, method: :delete %></button><br>
  <% end %>
<% else %>
  <p>You have no friend requests</p>
<% end %>
<br><br>

