<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class='control'>
      <%= form.label :title, class: 'label' %>
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class='control'>
      <%= form.label :body, class: 'label' %>
      <%= form.text_area :body, class: 'textarea', placeholder: 'Compose a new post...' %>
    </div>
  </div>

  <div class="actions">
    <div class='control'>
      <%= form.submit 'Submit', class: 'button is-info' %>
    </div>
  </div>
<% end %>
