<div class='column is-half'>
  <nav class='panel'>
    <p class='panel-heading'>Posts</p>
  </nav>
  <% @posts.each do |post| %>
    <div class='box'>    
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= image_tag post.user.profile.avatar.url(:thumb) %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <p class='tag is-info is-small' >
                <%= post.user.profile.fname + ' ' + post.user.profile.lname%>
              </p>
              <br>
                <strong class='title is-4'><%= post.title %></strong>
                <br>
              <%= post.body %>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <%= link_to post, class: "level-item" do %>
                <span class="icon is-small"><i class="fa fa-comment fa fa-lg"></i></span>
              <% end %>
              <a class='level-item'>
                <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'like' : 'likes' %>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to post_like_path(post, pre_like), method: :delete do %>
              <span class='icon is-large has-text-info '><i class="far fa-thumbs-down fa fa-2x"></i></span>
            <% end %>
          <% else %>
            <%= button_to post_likes_path(post), method: :post do %>
              <span class='icon is-large has-text-info '><i class="fas fa-thumbs-up fa fa-2x"></i></span>
            <% end %>
          <% end %>
        </div>
      </article>
    </div>
  <% end %>
</div>
