<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if flash[:notice] %>
  		<div class="notification is-primary global-notification">
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
    
    <% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>

    <nav class="navbar is-info">
  		<div class="navbar-brand">
        <% if signed_in? %>
          <%= link_to authenticated_root_path, class: "navbar-item" do %>
            <h1 class="title is-5">Odin Facebook</h1>
          <% end %>
        <% else %>
          <%= link_to unauthenticated_root_path, class: "navbar-item" do %>
            <h1 class="title is-5">Odin Facebook</h1>
          <% end %>
        <% end %>
        <div id='navbarBurger' class="navbar-burger burger" data-target="navMenuDocumentation">
          <span></span>
          <span></span>
          <span></span>
        </div>
  	  </div>
      <div id='navMenuDocumentation' class='navbar-menu'>
        <div class='navbar-start'>
           <a class='navbar-item bd-navbar-item-documentation is-active'>
            <%= link_to 'Profile', users_show_path, class: "button is-info is-inverted" %>
          </a>
        </div>
      </div>

      <div id="navbarExample" class="navbar-menu">
				<div class="navbar-start">
          <div class="navbar-item">
            <nav class="navbar is-info is-inverted" role="navigation" aria-label="dropdown navigation">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Menu
                </a>
              
                <div class="navbar-dropdown">
                <% if signed_in? %>
                  <% if current_user.profile %>
                    <a class='navbar-item'>
                      <%= link_to 'Profile', users_show_path, class: "button is-info is-inverted" %>
                    </a>
                  <% else %>
                    <a class='navbar-item'>
                      <%= link_to 'Create your Profile', users_show_path, class: "button is-info is-inverted" %>
                    </a>
                  <% end %>
                  <a class="navbar-item">
                    <%= link_to 'New Post', new_post_path, class: "button is-info is-inverted" %>
                  </a>
                  <a class="navbar-item">
                      <%= link_to 'Add a friend', users_path, class: "button is-info is-inverted" %>
                  </a>
                  <a class="navbar-item">
                    <%= link_to 'See Friend Requests', friend_requests_path, class: "button is-info is-inverted" %>
                  </a>
                  <a class='navbar-item'>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "button is-info is-inverted" %>
                  </a>
                
                <% else %>
                  <a class='navbar-item'>
                    <%= link_to 'Sign up', new_user_registration_path, class: "button is-info is-inverted"%>
                  </a>
                  <a class='navbar-item'>
                    <%= link_to 'Sign in', new_user_session_path, class: "button is-info is-inverted" %>
                  </a>
                <% end %>
                  <hr class="navbar-divider">
                  <div class="navbar-item">
                    Version 0.9.1
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </nav>  
    <%= yield %>
  </body>
</html>
