<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if flash[:notice] %>
  		<div class="notification is-primary global-notification">
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
    
    <% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>

    <nav class="navbar is-info">
      <div class="navbar-brand">
        <% if signed_in? %>
          <%= link_to authenticated_root_path, class: "navbar-item" do %>
            <h1 class="title is-5">Odin Facebook</h1>
          <% end %>
        <% else %>
          <%= link_to unauthenticated_root_path, class: "navbar-item" do %>
            <h1 class="title is-5">Odin Facebook</h1>
          <% end %>
        <% end %>
        
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Menu
          </a>
          <div class="navbar-dropdown is-boxed">
            <% if signed_in? %>
              <% if current_user.profile %>
                <a class='navbar-item'>
                  <%= link_to users_show_path, class: "button is-info is-inverted" do %>
                    <i class="fa fa-id-card"> Profile</i>
                  <% end %>
                </a>
                <a class="navbar-item">
                  <%= link_to new_post_path, class: "button is-info is-inverted" do %>
                    <i class="fa fa-plus"> New Post</i>
                  <% end %>
                </a>
                <a class="navbar-item">
                  <%= link_to users_path, class: "button is-info is-inverted" do %>
                    <i class="fa fa-users"> Add a friend</i>
                  <% end %>
                </a>
                <a class="navbar-item">
                  <%= link_to friend_requests_path, class: "button is-info is-inverted" do %>
                    <i class="fa fa-plus-square"> See Friend Requests</i>
                  <% end %>
                </a>
                <a class='navbar-item'>
                  <%= link_to destroy_user_session_path, method: :delete, class: "button is-info is-inverted" do %> 
                    <i class="fa fa-sign-out"> Logout</i>
                  <% end %>
                </a>
              <% else %>
                <a class='navbar-item'>
                  <%= link_to new_profile_path, class: "button is-info is-inverted" do %>
                    <i class="fa fa-id-card"> Create your Profile</i>
                  <% end %>
                </a>
              <% end %>
            <% else %>
              <%= link_to user_facebook_omniauth_authorize_path, class: "button is-info is-inverted" do %>
                <i class="fa fa-facebook-square"> Sign in with Facebook</i>
              <% end %>
              <a class='navbar-item'>
                <%= link_to new_user_registration_path, class: "button is-info is-inverted" do %>
                  <i class="fa fa-user-plus"> Sign Up</i>
                <% end %>
              </a>
              <a class='navbar-item'>
                <%= link_to new_user_session_path, class: "button is-info is-inverted" do %>
                  <i class="fa fa-sign-in"> Sign in</i>
                <% end %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
    <script type='text/javascript'>
      (function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);

        burger.addEventListener('click', function () {
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
    <%= yield %>
  </body>
   <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Odin Facebook</strong> by <a href="https://github.com/Alvin-Isai">Alvin Lopez</a>. The source code can be found
          <a href="https://github.com/Alvin-Isai/odin-facebook">here</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer> 
</html>
